<% content_for :title do %>
  <%= @article.title %>
<% end %>

<% content_for :body_content_title do %>
  <%= @article.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <p>
      <%= @article.date.to_s(:long_ordinal) %>
    </p>
  </section>
  <section>
      <%= image_fu @article.photo, nil %>
      <%=raw @article.contents %>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="articles">
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, main_app.refinery_article_path(article) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/refinery/content_page" %>
